.FP-selector {
  .fp-option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 8px;
    &:hover {
      background-color: #dddddd;
    }
  }
  .Select-value {
    font-size: 18px;
  }
}
